body {
  background-color: #ede5e5;
  
}

* {
  hyphens: auto;
}

h2 {
  font: 2.3rem/1 'Big Shoulders Display';
  color: hsl(0, 0%, 95%);
}

p {
  color: #d3d3d3;
  padding-right: 1rem;
  margin-bottom: 5rem;
  font: 400 15px/1.5 'Lexend Deca', sans-serif;
}

.container {
  display: flex;
  width: 60%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 8rem;
}

.sedans-card {
  background-color: rgb(199, 129, 0);
  padding: 2rem;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.suvs-card {
  background-color: rgb(0, 99, 99);
  padding: 2rem;
}

.luxury-card {
  background-color: rgb(0, 55, 55);
  padding: 2rem;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

button {
  font:400 15px 'Lexend Deca', sans-serif;
  border-radius: 2rem;
  padding: 10px 22px;
  /* bottom: 0; */
  margin-bottom: 1rem;
  background-color: #f1ecec;
  border: none;
  transition: .125s;
}

.btn-sedans {
  color:  rgb(199, 129, 0);
}
.btn-suvs {
  color: rgb(0, 99, 99);
}
.btn-luxury {
  color:  rgb(0, 55, 55);
}

.btn-sedans:active {
  border: 2px solid #f1ecec;
  color: #f1ecec;
  background-color: rgb(199, 129, 0);
}
.btn-suvs:active {
  border: 2px solid #f1ecec;
  color: #f1ecec;
  background-color: rgb(0, 99, 99);
}
.btn-luxury:active {
  border: 2px solid #f1ecec;
  color: #f1ecec;
  background-color: rgb(0, 55, 55);
}

button:hover {
  opacity: .8;
  cursor: pointer;
}






@media screen and (max-width: 425px) {
  .container {
    display: block;
    width: 90%;
  }  
}
@media (max-width: 425px) {
  .sedans-card {
    border-radius: .3rem .3rem 0 0;
  }
  .luxury-card {
    border-radius: 0 0 .3rem .3rem;
  }
}